.news-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    /* border: 1px solid #343a40; */
}

.news-track-title {
    color: #cad2c5;
}

.carousel-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.news-block {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 5px;
    margin: auto;
    position: relative;
    border: 1px solid #000;
    border-radius: 5px;
    min-width: 235px;
    max-width: 235px;
    max-height: 200px;
}

.news-image {
    height: 250px;
    width: 100%;
    border: 1px solid #101010;
    border-radius: 5px;
}

.news-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid #101010;
    border-radius: 5px;
}

.news-body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem;
    text-align: justify;
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid #101010;
    border-radius: 5px;
}

.news-title {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .5rem;
    color: #cad2c5;
}

.news-publicsher {
    font-size: 12px;
    font-weight: 500;
    color: #04e762;
}

.news-date {
    text-align: start;
    width: 100%;
    color: #cad2c5;
}