.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid #444; */
}

.news-section {
    width: 100%;
    padding: 1.5rem;
    /* border: 1px solid #fff; */
}

.news-track-title {
    text-align: start;
    width: 100%;
}

.news-track-title-text {
    font-size: 16px;
    font-weight: 500;
    color: #cad2c5;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 275px;
    max-height: 275px;
}

.news-block {
    margin: auto;
    position: relative;
    border: 1px solid #000;
    border-radius: 5px;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
}

.news-image {
    flex-grow: 1;
    height: 250px;
    width: 100%;
    border: 1px solid #101010;
    border-radius: 5px;
}

.news-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid #101010;
    border-radius: 5px;
}

.news-body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem;
    background-color: rgba(0, 0, 0, .7);
    flex-shrink: 0;
    text-align: center;
}

.news-title {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .5rem;
    color: #cad2c5;
}

.news-publicsher {
    font-size: 12px;
    font-weight: 500;
    color: #04e762;
}

.news-date {
    text-align: start;
    width: 100%;
    color: #cad2c5;
}