.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 55px;
    width: 100%;
    top: 0;
    z-index: 1;
    padding: 0 .9rem 0 .9rem;
    background: #202020;
    box-shadow: 0 2px 35px 0 rgb(0, 0, 0, .5);
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.sidenav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin-right: .5rem;
    font-size: 20px;
    background: none;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #cad2c5;
    cursor: pointer;
}

.sidenav-btn:hover {
    border-color: #495057;
    background: #343a40;
}

.navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    font-size: 20px;
    text-decoration: none;
    background: none;
    color: #cad2c5;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-link:hover {
    border-color: #495057;
    background: #343a40;
}

.navbar-link.active {
    border-color: #495057;
    background: #343a40;
}

.brand-name-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #84a98c;
}

.brand-name-link:hover {
    background: #343a40;
}

.brand-name-link.active {
    background: #343a40;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .3rem;
    height: 45px;
    width: 45px;
    font-size: 20px;
    background: none;
    color: #cad2c5;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-item:hover {
    background: #343a40;
}

.lightModeIcon {
    color: #ffd60a;
}

.darkModeIcon {
    color: #fff;
}

.cart-link {
    text-decoration: none;
    color: #cad2c5;
    font-size: 16px;
    font-weight: 500;
}