.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 50px;
    top: 0;
    z-index: 1;
    padding: 0 1.5rem;
    width: 100%;
    background: #202020;
    box-shadow: 0 2px 35px 0 rgb(0, 0, 0, .5);
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.sidenav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin-right: .5rem;
    background: none;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #cad2c5;
    cursor: pointer;
}

.sidenav-btn:hover {
    border-color: #495057;
    background: #343a40;
}

.navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    border: 1px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    color: #cad2c5;
}

.navbar-link.active {
    border-color: #495057;
    background: #343a40;
}

.navbar-link:hover {
    border: 1px solid #495057;
    background: #343a40;
}

.brand-name-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #84a98c;
}

.create-post-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin-right: .7rem;
    background: none;
    color: #cad2c5;
    border: 1px solid #84a98c;
    border-radius: 5px;
    cursor: pointer;
}

.create-post-btn:hover {
    border-color: #495057;
    background: #343a40;
}

#loginLink {
    margin-right: .5rem;
}

.create-btn-text {
    margin-right: .5rem;
    font-size: 16px;
    font-weight: 500;
    color: #cad2c5;
}

.cart-link {
    text-decoration: none;
    color: #cad2c5;
    font-size: 16px;
    font-weight: 500;
}