.news-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 1.5rem 0;
}

.news-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 10px;
}

.news-track-title {
    width: 100%;
    margin-bottom: .5rem;
}

.news-track-title-text {
    font-size: 14px;
    font-weight: 500;
    color: #cad2c5;
}

.carousel-container {
    height: 200px;
}

.news-block {
    margin: auto;
    position: relative;
    border: 2px solid #000;
    border-radius: 5px;
    min-width: 235px;
    max-width: 235px;
}

.news-image {
    flex-grow: 1;
    height: 175px;
    width: 100%;
    border-radius: 5px;
}

.news-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.news-body {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5rem;
    background-color: rgba(0, 0, 0, .8);
    flex-shrink: 0;
    text-align: center;
}

.news-title {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: .5rem;
    color: #cad2c5;
}

.news-publicsher {
    font-size: 14px;
    font-weight: 500;
    color: #04e762;
}

.news-date {
    text-align: start;
    width: 100%;
    color: #cad2c5;
}