.posts-content {
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
}

.posts-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: .5rem;
    color: #cad2c5;
}

.posts-control-panel {
    display: flex;
    align-items: center;
    background: #151515;
    border: 1px solid #343a40;
    border-radius: 5px;
}

.filter-button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.left-filter-buttons {
    display: flex;
    align-items: center;
}

.filter-posts-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    margin: .5rem .1rem .5rem .5rem;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 5px;
    background: none;
    color: #cad2c5;
    cursor: pointer;
}

.filter-posts-btn:hover {
    border-color: #343a40;
    background: #202020;
}