.side-apps-content {
    grid-column: 5/7;
}

.side-apps-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: .5rem;
    color: #cad2c5;
}

.side-apps-list {
    background: #151515;
    border: 1px solid #343a40;
    border-radius: 5px;
}

.apps-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-item-link {
    font-size: 14px;
    font-weight: 500;
    color: #cad2c5;
    text-decoration: none;
}

.side-apps-list {
    border: 1px solid #343a40;
}