*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  margin-top: 55px;
  background: #101010;
}

.container.light {
  background: #f1faee;
}

.container.light>.content {
  color: #101010;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  color: #fff;
}

.posts {
  max-width: 960px;
  width: 960px;
}

.out-card {
  border: 1px solid #343a40;
  padding: .5rem;
  margin-bottom: .5rem;
}

.posts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.post-image {
  margin: .5rem;
  height: 150px;
  width: 150px;
}