*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

.container {
  background: #151515;
  min-height: 100vh;
  border: 1px solid #fff;
}

.content {
  margin: 3.5rem 0 0 17.1rem;
  padding: .5rem;
  transition: all 0.5s ease;
  border: 1px solid #fff;
  color: #dad7cd;
}

.content.show {
  margin-left: 0;
}