*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  margin-top: 55px;
  background: #101010;
}

.container.light {
  background: #f1faee;
}

.container.light>.content {
  color: #101010;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  color: #fff;
}